{% load i18n %}
<label class="text-sm tracking-widest ml-1">{% trans "中分類" %}</label>
<select name="chubunrui"
        id="id_chubunrui"
        class="select outline-none w-full"
        required
        {% if disabled %}disabled{% endif %}
        hx-get="{% url 'shobunrui-options' %}"
        hx-target="#shobunrui-wrapper"
        hx-swap="innerHTML"
        hx-trigger="change"
        hx-indicator="#sho-loading"
        x-model="chuSelected"
        @change="handleChuChange($event)"
        :class="fieldErrorClass('chuSelected')">
    <option value="">{% trans "---------" %}</option>
    {% for chu in chubunrui_list %}<option value="{{ chu.code }}">{{ chu.code }} {{ chu.name }}</option>{% endfor %}
</select>
